<section class="background">
    <div class="sky-weather" id="particles-js"></div>
    <div class="sky gradientbg" id="sky"></div>
    <div class="view">
        <div class="ground-level">
            <img src="./assets/houses/e{{house}}.svg" alt="house" class="house" id="house">
        </div>
        <div class="ground" id="ground">
            <div class="tree-group">
                <img src="./assets/trees/a1.svg" alt="tree" class="tree" id="tree">
            </div>
        </div>
    </div>
</section>