@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

body,
html {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

:root{
	--bg-color:#171445;
	--main-color:#1DB954;
	--main-font: 'Varela', sans-serif;
}

body{
	color: var(--main-color);
	background: linear-gradient( 178.1deg,  rgba(60,55,106,1) 8.5%, rgba(23,20,69,1) 82.4% );
}

*{
	font-family: var(--main-font);
	transition-duration: .3s;
}
*:focus{outline: none;}

body::after{
	content: ' ';

	left: -50%;
	top: -100%;
	width: 300%;
	height: 300%;
	z-index: -1;
	position: fixed;
	animation: grain-move 8s steps(10) infinite;

	background-blend-mode: screen;
	background-image: url('./assets/grain.webp'), linear-gradient( 178.1deg,  rgba(60,55,106,1) 8.5%, rgba(23,20,69,1) 82.4% );
}

@keyframes grain-move {
	0%, 100% { transform:translate(0, 0) }
	10% { transform:translate(-5%, -10%) }
	20% { transform:translate(-15%, 5%) }
	30% { transform:translate(7%, -25%) }
	40% { transform:translate(-5%, 25%) }
	50% { transform:translate(-15%, 10%) }
	60% { transform:translate(15%, 0%) }
	70% { transform:translate(0%, 15%) }
	80% { transform:translate(3%, 35%) }
	90% { transform:translate(-10%, 10%) }
}

.grid-row, .section-grid-row{
    display: grid;
    row-gap: 10px;
    grid-auto-flow: row;
}

.grid-columns, .section-grid-columns{
    display: grid;
    column-gap: 10px;
    grid-auto-flow: column;
}

.section-grid-row{
	row-gap: 15px;
}

h1,h2,h3,h4,h5,h6{
	margin: 0 0;
}

span{
	display: inline-block;
	max-width: 1000px;
}