.default-button, .modal-content button{
    width: 100%;
    min-height: 60px;

    border: 1px solid var(--button-outline-color);
    border-radius: .5pc;
    background   : var(--button-color);

    cursor: pointer;

    padding    : 10px;
    font-size  : 17pt;
    text-align : left;
    font-weight: bold;

    transition-duration: .3s;
    box-shadow: 0 0 10px -7px #0A0A0A;
}

.default-button:hover, .modal-content button:hover{
    font-size: 17.1pt;
}
.default-button:active, .modal-content button:active{
    font-size: 16.9pt;
}

.modal{
    z-index : 2;
    position: fixed;

    width    : fit-content;
    max-width: 95vw;

    height    : fit-content;
    max-height: 95vh;
    
    border-radius: 1pc;
    background   : var(--bg-color);

    top      : 50%;
    left     : 50%;
    transform: translate(-50%,-50%);

	transition-duration: .4s;
    box-shadow: 0 0 15px -5px black;

    padding: 20px;

    display       : grid;
    row-gap       : 10px;
    justify-items : left;
    grid-auto-flow: row;

    overflow-y: auto;
}

.close-btn{
    position: absolute;
    top     : 10px;
    right   : 5px;

    border-style: none;
    background  : transparent;
    color       : var(--text-color);

    cursor: pointer;
}

.modal-content{
    margin: 0;
    width: 100%;
}

.hidden{
    top: -50%;
}
.invisible{
    display: none;
}

.backdrop{
    z-index: 1;
    position: absolute;

    width: 100vw;
    height: 100vh;
    background: rgba(32, 32, 32, 0.5);
    top: 0;
    left: 0;
}